<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row">
        <% if(searchResults.length > 0) { %> <!-- Correct the check to see if there are search results -->
        <% searchResults.forEach(function (note, index) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card border-primary h-100 ">
                    <div class="card-body">
                        <a href="/dashboard/item/<%= note._id %>" class="text-decoration-none">
                            <h4 class="card-title text-primary"><%= note.title %></h4>
                            <h4 class="card-title "><%= note.body %></h4><!-- Use Bootstrap text classes -->
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
        <% } else { %>
            <div class="col text-center">
                <p class="text-muted">No items found.</p> <!-- Centered and muted text -->
            </div>
        <% } %>
    </div>

</div>
